<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="icons-color">Gráficos de Análisis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grafico-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Compras Anuales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="canvas-wrapper">
          <canvas id="miGrafico"></canvas>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
