<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="updateUser()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input [(ngModel)]="usuario.apellido" name="apellido" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="usuario.correo" name="correo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.contrasena" name="contrasena" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-toolbar>
        <ion-button expand="block" type="submit" class="custom-button">Guardar Cambios</ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
