ion-menu-button {
    color: #bd0000;
  }
  
  .icons-color {
    color: #bd0000;
  }

  .custom-button {
    background-color: #bd0000; // Color de fondo
    color: white; // Color del texto
    padding: 10px 20px; // Espaciado interno
    border-radius: 10px; // Bordes redondeados
    border: none; // Sin borde
    font-size: 16px; // Tamaño del texto
    cursor: pointer; // Cursor de puntero al pasar el ratón
  }
  
  ion-card-content{
    text-align: left;
    color:#000000;
  }
  
  footer {
    --background: #fff; /* Color de fondo del footer, ajusta según sea necesario */
  }
  
  ion-toolbar {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
  }
  
  .footer-buttons {
    display: flex;
    justify-content: space-between; /* Distribuye los botones de manera uniforme */
    width: 100%; /* Asegura que los botones ocupen todo el ancho del toolbar */
  }
  
  ion-button {
    flex: 1; /* Asegura que los botones se expandan y ocupen el espacio */
    text-align: center; /* Centra el texto e íconos dentro de los botones */
  }