<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Nuevo Empleado </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="emp_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cargo</ion-label>
      <ion-input type="text" formControlName="emp_position"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Salario</ion-label>
      <ion-input type="number" formControlName="emp_salary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Departamento</ion-label>
      <ion-input type="text" formControlName="emp_department"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Género</ion-label>
      <ion-input type="text" formControlName="emp_gender"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Ingreso</ion-label>
      <ion-input type="date" formControlName="emp_hireDate" placeholder=" "></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="emp_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel" formControlName="emp_phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagen de Perfil</ion-label>
      <ion-input type="text" formControlName="emp_profileImg"></ion-input>
    </ion-item>
    
    <!-- Agregar campo de contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="emp_password"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="!employeeForm.valid">Agregar</ion-button>
  </form>
</ion-content>
